<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Drexel Delivers</title>

    <!-- Load Bootstrap -->
    <meta name = "viewport" content = "width=device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="./">DREXEL DELIVERS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="./">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="order">Place an Order<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Log In / Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>
        </ul>
    </div>
    </nav>

    <!-- BODY -->
    <h1>Checkout</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h3><b>Items</b></h3>
                {{#each items}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
            <div class="col-lg-1">
                <h3><b>Prices</b></h3>
                {{#each prices}}
                    <p>${{this}}</p>
                {{/each}}
            </div>
            <div class="col-lg-3">
                <h3><b>Payment</b></h3>
                <br>
                <p>Subtotal: ${{{subtotal}}}</p>
                <p>Tax:      ${{{tax}}}</p>
                <p>Delivery: $2.99</p>
                <h5><b>Total: ${{{price}}}</b></h5>
            </div>
        </div>
        <br>
        <br>

        <p>Please pay your courier in cash (card and venmo will be supported in future.)</p>
        <p>Driver will notify you when your food is five minutes away (location services will be supported in future)</p>
    </div>
    <form action="index/finish" method="post">
        <input type="hidden" id="cart">
        <button type="button" class="confirm btn btn-warning" name="confirm" id="confirm" onclick="">Confirm Order</button>
    </form>

</body>

<!-- TODO:

1) Create variables
2) When confirm order button is pressed:
    Send SMS Relay
    Send Confirmation Email
    Navigate to front page

-->